:root {
    --primary-color: #2c3e50;
    --secondary-color: #ecf0f1;
    --accent-color: #3498db;
    --background-color: #f4f4f4;
    --slider-bg: rgba(255, 0, 0, 0.5);
}

/* General Body Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
}

/* Hover Effects */
nav button:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

/* Main Heading Styling */
h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

/* Navigation Styling */
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Larger Screen Seperator */
nav ul li:not(:last-child)::after {
    content: '|';
    margin-left: 10px;
    margin-right: 10px; 
    color: var(--secondary-color);
}

/* Button Styling*/
nav button {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Toggle Arrow (small screen) */
#toggle-arrow {
    cursor: pointer;
    font-size: 2.0em;
    display: none; 
}

/* Section Styling */
section {
    display: none;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
}

/* Range Slider Styling */
input[type="range"] {
    width: 100%;
    background-color: var(--slider-bg);
}

/* Footer Styling */
footer {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Nav Items Stylings*/
.chill {
    color: #7dcbff;  
}

.warm {
    color: #f39c12;  
}

.hot {
    color: #000000;  
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        display: none; 
        flex-direction: column; 
    }

    #nav-list.show {
        display: flex; 
    }

    #toggle-arrow {
        display: inline-block;
        text-align: center;
    }

    nav ul li:not(:last-child)::after {
        content: none;
    }
}